<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Keywords" content="MicrobotTeam, blog" />
    <meta name="Description" content="MicrobotTeam团队博客主页" />
    <title>MicrobotTeam</title>
    <link href="./src/style.css" rel="stylesheet" />
    <script type="text/javascript" src="./src/vue.js"></script>
    <!-- <script type="text/javascript" src="./src/vue.min.js"></script> -->
  </head>
  <body>
    <div id="app" class="page-content">
      <!-- banner -->
      <div class="banner-wrap">
        <h1 class="logo">logo</h1>
        <p class="intro">
          介绍
        </p>
      </div>
      <!-- 友链 -->
      <div class="chat-block">
        <div class="header">
          友链
          <span class="dot">
          </span>
        </div>
        <div class="content">
          <a class="friend-link" href="https://androidblog.linghit.com/" target="_blank">Android</a>
          <a class="friend-link" href="https://microbotteam.github.io/mt.record/" target="_blank">mt.record</a>
        </div>
      </div>
      <div v-if="loading" class="loading"></div>
      <transition-group name="list" tag="div">
        <chat-block 
          v-if="chatList.length"
          v-for="(item, index) in chatList"
          :key="index"
          :chat-item="item"
          :user-list="userList">
        </chat-block>
      </transition>
      
    </div>
    <script type="text/x-template" id="chat-block-template">
      <div class="chat-block">
        <div class="header">
          {{ chatItem.date }}
          <span class="dot">
          </span>
        </div>
        <div class="content">
          <article-block 
            v-for="(item, index) in chatItem.articleList"
            :key="index"
            :item-index="index + 1"
            :article-item="item"
            :user-list="userList">
          </article-block>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="article-block-template">
      <!-- 单条记录 -->
      <div :class="'item-wrap clear color-' + (itemIndex % 4)">
        <!-- 头像 -->
        <div class="user-info" @mouseenter="hoverUserInfoHandler(true)" @mouseleave="hoverUserInfoHandler(false)">
          <span class="avata">{{ authorRef.nickname.slice(0,1) }}</span>
          <p class="nick-name">{{ authorRef.username }}</p>
          <transition name="fade">
            <user-modal
              v-if="showUserModal"
              :author-ref="authorRef">
            </user-modal>
          </transition>
        </div>
        <div class="text">
          <div class="arrow"></div>
          <a :href="articleItem.link" class="link" target="_blank">
            {{ articleItem.title }}
          </a>
        </div>
      </div>
    </script>
    <script type="text/x-template" id="user-modal-template">
      <div class="user-modal">
        <div class="bottom-arrow"></div>
        <p class="user-content">
          戴伽猴，我是{{ authorRef.nickname }}。<br/>
          欢迎光临&nbsp;<a class="blog-link" :href="authorRef.blog_link" target="_blank">我的博客</a>
        </p>
      </div>
    </script>
    
    <script type="text/javascript" src="./src/index.js"></script>
  </body>
</html>
